.head{
    width: 100%;
    height: 200px;
    background-color: #33333360;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 598px;
    height: 54px;
    border-radius: 8px;
    border: 1px;
    padding: 16px;
    gap: 8px;
    background-color: #262626;
}
.btn{
    width: 130px;
    height: 52px;
    padding: 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: none;
    background-color: #1E6F9F;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.png{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.elements {
    position: relative;
    justify-content: center;
    align-items: center;
}
.input-btn{
    position: absolute;
    top: 100px;
    display: flex;
    gap: 8px;
}